body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f5f5f5;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin-top: 0;

    font-family: 'Roboto', sans-serif;
}

.form-container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

h2 {
    min-width: 400px;
    flex-wrap: nowrap;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

select, input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.message {
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* ======================= Navbar ======================= */


.nav-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    background-color: #ededed;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    gap: 2rem;

    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

button.nav-button:hover a {
    color: #000000;
}

button.nav-button {
 outline: none;
 cursor: pointer;
 border: none;
 padding: 0.5rem 1.5rem;
 margin: 0;
 font-family: inherit;
 position: relative;
 display: inline-block;
 letter-spacing: 0.05rem;
 font-weight: 700;
 font-size: 17px;
 border-radius: 500px;
 overflow: hidden;
 background: #66ff66;
 color: ghostwhite;
}

button.nav-button span {
 position: relative;
 z-index: 10;
 transition: color 0.4s;
}

button.nav-button:hover span {
 color: black;
}

button.nav-button::before,
button.nav-button::after {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 0;
}

button.nav-button::before {
 content: "";
 background: #000;
 width: 120%;
 left: -10%;
 transform: skew(30deg);
 transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

button.nav-button:hover::before {
 transform: translate3d(100%, 0, 0);
}