<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Map</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='graph.css') }}">
    <script src="{{ url_for('static', filename='graph.js') }}" defer></script>
</head>

<body>
    <main>
        <nav class="nav-bar-container">
            <h2>Supply Chain Disruption Simulation</h2>
            <ul class="nav-bar-list">
                <li>
                    <button class="nav-button"><span><a href="/category/dashboard">Dashboard</a></span>
                    </button>
                </li>
                <li>
                    <button class="nav-button"><span><a href="/category/graph">Network Graph</a></span>
                    </button>
                </li>
                <li>
                    <button class="nav-button"><span><a href="/category/comparison">Scenario Comparison</a></span>
                    </button>
                </li>
                <li>
                    <button class="nav-button"><span><a href="/category/cost">Cost vs Resilience</a></span>
                    </button>
                </li>
            </ul>
        </nav>
        <div class="simulation">
            <section class="map-section">
                <img src="{{ image }}" alt="Map">
            </section>
            <section class="simulation-section">
                <button class="start-button" onClick="startSimulation()">Start simulation</button>
                <div id="response">

                </div>
                <div id="logger">

                </div>
            </section>
        </div>
    </main>
</body>

</html>